body {
	background: url("../images/www_03.jpg") repeat-y top rgb(239, 242, 244);
	margin: 0px;
	padding: 0px;
	line-height: 20px;
	font-family: "微软雅黑",Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
table {
	margin: 0px auto;
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	border: 0px currentColor;
	border-image: none;
}
ol {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
caption {
	text-align: left;
}
th {
	text-align: left;
}
form {
	margin: 0px;
	padding: 0px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	margin: 0px;
	padding: 0px;
}

h1 {
	margin: 0px;
	padding: 0px;
}

h2 {
	margin: 0px;
	padding: 0px;
}

h3 {
	margin: 0px;
	padding: 0px;
}

h4 {
	margin: 0px;
	padding: 0px;
}

h5 {
	margin: 0px;
	padding: 0px;
}

h6 {
	margin: 0px;
	padding: 0px;
}

p {
	margin: 0px;
	padding: 0px;
}

dl {
	margin: 0px;
	padding: 0px;
}

dd {
	margin: 0px;
	padding: 0px;
}

dt.input {
	margin: 0px;
	padding: 0px;
}

address {
	font-style: normal;
	font-weight: normal;
}

caption {
	font-style: normal;
	font-weight: normal;
}

cite {
	font-style: normal;
	font-weight: normal;
}

code {
	font-style: normal;
	font-weight: normal;
}

dfn {
	font-style: normal;
	font-weight: normal;
}

em {
	font-style: normal;
	font-weight: normal;
}

th {
	font-style: normal;
	font-weight: normal;
}

var {
	font-style: normal;
	font-weight: normal;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	color: rgb(153, 0, 0);
	text-decoration: none;
}

a {
	color: rgb(51, 51, 51);
}

.clear {
	height: 0px;
	line-height: 0;
	overflow: hidden;
	clear: both;
}

ul.nl {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

ul.nl li {
	background: url("../images/yy-1_03.png") no-repeat left;
	line-height: 33px;
	padding-left: 15px;
	font-size: 14px;
}

.tzzlisaaa {
	margin: 15px auto 0px;
	width: 95%;
	height: auto;
}

.dateR {
	padding-right: 5px;
	float: right;
}

.gray {
	font-size: 12px;
	text-decoration: none;
}

.dsds {
	background: url("../images/gg-1_06.png") no-repeat;
	width: 197px;
	height: 40px;
	line-height: 40px;
	text-indent: 35px;
	font-size: 15px;
	margin-bottom: 10px;
}

.dsdsa {
	background: url("../images/gg-1_03.png") no-repeat;
	width: 197px;
	height: 40px;
	line-height: 40px;
	text-indent: 35px;
	font-size: 15px;
	margin-bottom: 10px;
}

.dsdsa a {
	color: rgb(255, 255, 255);
}

.dsds a {
	color: rgb(255, 255, 255);
}

#scrollup1jsu10js table {
	width: 100%;
}

#scrollup1jsu10js table a span {
	text-align: left;
	float: left;
}

#scrollup1jsu10js table span {
	text-align: right;
	float: right;
}

#scrollup2jsu10js table {
	width: 100%;
}

#scrollup2jsu10js table a span {
	text-align: left;
	float: left;
}

#scrollup2jsu10js table span {
	text-align: right;
	float: right;
}

.time {
	color: rgb(255, 0, 0);
}

.top {
	background: url("../images/www_02.jpg") repeat-x;
	width: 100%;
	height: 43px;
	min-width: 1200px;
}

.topc {
	background: url("../images/topb.png") repeat-x;
	margin: 0px auto;
	width: 1200px;
	height: 43px;
}

.topclf {
	width: 620px;
	padding-left: 10px;
	float: left;
}

.topclf li {
	background: url("../images/gx_10.png") no-repeat left;
	line-height: 43px;
	text-indent: 5px;
	padding-right: 10px;
	font-size: 14px;
	float: left;
}

.topcrr {
	width: 420px;
	height: 43px;
	float: right;
}

.topcrr_lf {
	background: url("../images/gx_02.png") no-repeat right;
	width: 232px;
	height: 43px;
	float: left;
}

.topcrr_lfh {
	width: 162px;
	height: 23px;
	margin-top: 10px;
	float: left;
}

#demo {
	height: 360px;
	overflow: hidden;
}

.topcrr_lfh input {
	border: 0px currentColor;
	border-image: none;
	width: 162px;
	height: 22px;
	float: left;
}

.topbo {
	width: 48px;
	height: 24px;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
}

.topcrr_rr {
	width: 170px;
	height: 43px;
	float: left;
}

.topcrr_rr li {
	line-height: 43px;
	padding-left: 10px;
	font-size: 14px;
	float: left;
}

.logo {
	background: url("../images/gx_27.png") no-repeat 750px 0px;
	margin: 0px auto;
	width: 1200px;
	height: 133px;
}

.logo_lf {
	margin: 20px 0px 0px;
	width: 339px;
	height: 85px;
	float: left;
}

.logo_rr {
	width: 432px;
	height: 86px;
	margin-top: 20px;
	float: right;
}

.logo_rr li {
	width: 85px;
	text-align: center;
	float: left;
}

.wd1200 {
	background: rgb(255, 255, 255);
	margin: 0px auto;
	width: 1200px;
	height: auto;
}

.nav {
	background: url("../images/www_06.jpg") repeat-x 0px 6px;
	margin: 0px auto;
	width: 1169px;
	height: 57px;
	padding-left: 5px;
}

.tltkts {
	margin: 25px auto 20px;
	width: 95%;
	height: auto;
	border-bottom-color: rgb(204, 204, 204);
	border-left-color: rgb(46, 116, 211);
	border-bottom-width: 1px;
	border-left-width: 2px;
	border-bottom-style: dashed;
	border-left-style: solid;
	min-height: 80px;
}

.tltktslf {
	width: 150px;
	text-indent: 20px;
	font-size: 18px;
	float: left;
}

.tltktslfvv {
	width: 730px;
	font-size: 18px;
	float: left;
}

.tltktslfvv li {
	background: url("../images/gx_10.png") no-repeat left;
	width: 28%;
	line-height: 35px;
	text-indent: 5px;
	font-size: 14px;
	margin-right: 3%;
	float: left;
}

.navmain {
	margin: 0px auto;
	width: 1000px;
	height: 49px;
	line-height: 49px;
}

.nav li:hover ul {
	z-index: 900;
}

.nav li {
	height: 57px;
	line-height: 57px;
	font-family: "微软雅黑";
	font-size: 15px;
	float: left;
	min-width: 83px;
}

.nav li a {
	text-align: center;
	color: rgb(255, 255, 255);
	text-decoration: none;
	display: block;
}

.nav li ul {
	left: 50%;
	top: 232px;
	margin-left: -500px;
	display: none;
	position: absolute;
	z-index: 99;
}

.nav li ul li {
	height: auto;
	padding-right: 10px;
	padding-left: 0px;
}

.nav li ul li p {
	font-size: 12px;
}

.nav li ul li a {
	color: rgb(0, 0, 0);
}

.nav li.h_bg {
	background: url("../images/gx_40.png") repeat-x;
	color: rgb(255, 255, 255);
	display: block;
}

.nav li.h_bg .row a {
	color: rgb(51, 51, 51);
}

.nav f14 {
	font-size: 14px;
	font-weight: bold;
}

.chanpzh {
	background: rgb(247, 251, 254);
	padding: 10px;
	border: 3px solid rgb(4, 94, 167);
	border-image: none;
	width: 1150px;
	margin-left: -87px;
	min-height: 50px;
}

.chanpzhlf {
	width: 1160px;
	height: auto;
	float: left;
}

.chanpzhlfl {
	background: url("../images/hhh11_03.png") no-repeat left;
	width: 290px;
	text-align: left !important;
	line-height: 29px;
	font-size: 14px;
	margin-top: 3px;
	float: left;
	min-height: 29px;
}

.chanpzhlfl a {
	display: block;
}

.chanpzhlfl a:hover {
	background: url("../images/lk_03.jpg") no-repeat;
}

.chanpzhlfla {
	background: url("../images/hhh11_03.png") no-repeat left;
	width: 290px;
	line-height: 29px;
	font-size: 14px;
	margin-top: 3px;
	float: left;
	min-height: 29px;
}

.tzzliswbb {
	margin: 15px auto 0px;
	width: 95%;
	height: auto;
}

#vsb_content_2 p {
	line-height: 30px !important;
	font-size: 14px;
}

.bannercvv {
	margin: 0px auto;
	width: 1174px;
	height: 250px;
	padding-top: 10px;
}

.banner {
	margin: 0px auto;
	padding: 15px 0px;
	width: 1174px;
	height: 334px;
}

.ck-slide {
	margin: 0px auto;
	width: 1174px;
	height: 334px;
	overflow: hidden;
	position: relative;
}

.ck-slide ul.ck-slide-wrapper {
	margin: 0px;
	padding: 0px;
	left: 0px;
	top: 0px;
	height: 334px;
	position: absolute;
	z-index: 1;
}

.ck-slide ul.ck-slide-wrapper li a {
	line-height: 0px;
	display: block;
}

.ck-slide .ck-prev {
	background: no-repeat red;
	border-radius: 3px;
	transition: opacity 0.2s linear;
	top: 50%;
	width: 35px;
	height: 70px;
	text-indent: -9999px;
	margin-top: -35px;
	position: absolute;
	z-index: 2;
	opacity: 0.15;
}

.ck-slide .ck-next {
	background: no-repeat red;
	border-radius: 3px;
	transition: opacity 0.2s linear;
	top: 50%;
	width: 35px;
	height: 70px;
	text-indent: -9999px;
	margin-top: -35px;
	position: absolute;
	z-index: 2;
	opacity: 0.15;
}

.ck-slide .ck-prev {
	background: url("../images/arrow-left.png") no-repeat 50% rgb(0, 0, 0);
	left: 5px;
}

.ck-slide .ck-next {
	background: url("../images/arrow-right.png") no-repeat 50% rgb(0, 0, 0);
	right: 5px;
}

.ck-slidebox {
	left: 50%;
	bottom: 12px;
	position: absolute;
	z-index: 30;
}

.ck-slidebox ul {
	background: rgba(0, 0, 0, 0.5);
	padding: 0px 4px;
	border-radius: 8px;
	height: 20px;
}

.ck-slidebox ul li {
	margin: 4px;
	height: 12px;
	float: left;
}

.ck-slidebox ul li em {
	border-radius: 100%;
	width: 12px;
	height: 12px;
	text-indent: -9999px;
	display: block;
	cursor: pointer;
	background-color: rgb(255, 255, 255);
}

.ck-slidebox ul li.current em {
	background-color: rgb(48, 104, 181);
}

.ck-slidebox ul li em:hover {
	background-color: rgb(48, 104, 181);
}

.mdyw {
	margin: 0px auto;
	width: 1174px;
	height: 430px;
}

.mdyw_lf {
	border: 1px solid rgb(197, 197, 197);
	border-image: none;
	width: 850px;
	height: 428px;
	float: left;
}

.mdyw_top {
	margin: 0px auto;
	width: 98%;
	height: 42px;
	border-bottom-color: rgb(46, 116, 211);
	border-bottom-width: 3px;
	border-bottom-style: solid;
}

.mdyw_toplf {
	background: url("../images/www_10.jpg") no-repeat;
	width: 156px;
	height: 32px;
	text-align: center;
	color: rgb(255, 255, 255);
	line-height: 32px;
	font-size: 16px;
	margin-top: 10px;
	float: left;
}

.mdyyplf {
	background: rgb(46, 116, 211);
	width: 100px;
	height: 32px;
	text-align: center;
	color: rgb(255, 255, 255);
	line-height: 32px;
	font-size: 16px;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
}

.mdrrop {
	margin: 0px auto;
	width: 100%;
	height: 42px;
	border-bottom-color: rgb(18, 75, 152);
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.mdyw_toprr {
	width: 50px;
	line-height: 44px;
	font-size: 14px;
	float: right;
}

.ywtt {
	margin: 0px auto;
	padding: 10px 0px;
	width: 98%;
	height: 100px;
	border-bottom-color: rgb(187, 187, 187);
	border-bottom-width: 1px;
	border-bottom-style: dashed;
}

.ywtt h3 {
	text-align: center;
	color: rgb(184, 0, 0);
	line-height: 45px;
	font-size: 24px;
}

.ywtt h3 a {
	color: rgb(184, 0, 0);
}

.ywtt p {
	color: rgb(129, 129, 129);
	line-height: 24px;
	font-size: 14px;
}

.ywtt p a {
	color: rgb(129, 129, 129);
}

.ywtt_bot {
	margin: 0px auto;
	padding: 13px 0px;
	width: 98%;
	height: 234px;
}

.ywtt_botlf {
	width: 402px;
	height: 234px;
	float: left;
}

.ywtt_botrr {
	width: 408px;
	height: auto;
	float: right;
}

.ywtt_botrr li {
	text-align: right;
	color: rgb(110, 110, 110);
	line-height: 30px;
	font-size: 12px;
}

.ywtt_botrr li a {
	text-align: left;
	font-size: 14px;
	float: left;
}

.tzz {
	border: 1px solid rgb(197, 197, 197);
	border-image: none;
	width: 307px;
	height: 428px;
	float: right;
}

.tzzlis {
	margin: 15px auto 0px;
	width: 95%;
	height: auto;
}

.tzzlis li {
	background: url("../images/gx_66.png") no-repeat left;
	text-align: right;
	color: rgb(110, 110, 110);
	line-height: 31px;
	text-indent: 5px;
	font-size: 12px;
}

.tzzlis li a {
	text-align: left;
	font-size: 14px;
	float: left;
}

.xuw {
	margin: 0px auto;
	padding: 15px 0px;
	width: 1174px;
	height: auto;
}

.xuwlf {
	width: 963px;
	height: auto;
	float: left;
}

.xuwimg {
	padding: 1px;
	border: 1px solid rgb(197, 197, 197);
	border-image: none;
	width: 958px;
}

.xuwqh {
	width: 100%;
	height: 320px;
	margin-top: 15px;
}

.xuwqhlf {
	border: 1px solid rgb(197, 197, 197);
	border-image: none;
	width: 472px;
	height: 318px;
	float: left;
}

.xuwqhrr {
	border: 1px solid rgb(197, 197, 197);
	border-image: none;
	width: 472px;
	height: 318px;
	float: right;
}

.cont {
	padding: 0px;
}

.hidden {
	display: none;
}

.scrolldoorFrame {
	width: 100%;
	overflow: hidden;
}

.scrollUl {
	margin: 10px auto 0px;
	width: 98%;
	height: 34px;
	overflow: hidden;
	border-bottom-color: rgb(46, 116, 211);
	border-bottom-width: 3px;
	border-bottom-style: solid;
}

.scrollUl li {
	float: left;
}

.sd01 {
	background: url("../images/www_033.jpg") no-repeat left rgb(46, 116, 211);
	padding: 0px 10px;
	height: 34px;
	color: rgb(255, 255, 255);
	line-height: 34px;
	text-indent: 25px;
	font-size: 16px;
	cursor: pointer;
	min-width: 100px;
}

.sd01 a {
	color: rgb(255, 255, 255);
}

.sd02 {
	background: url("../images/www_05.jpg") no-repeat left rgb(161, 192, 235);
	padding: 0px 10px;
	height: 34px;
	color: rgb(255, 255, 255);
	line-height: 34px;
	text-indent: 25px;
	font-size: 16px;
	cursor: pointer;
	min-width: 100px;
}

.sd02 a {
	color: rgb(255, 255, 255);
}

.xslist {
	margin: 15px auto 0px;
	width: 95%;
	height: auto;
}

.xslist li {
	text-align: right;
	color: rgb(110, 110, 110);
	line-height: 31px;
	font-size: 12px;
}

.xslist li a {
	text-align: left;
	font-size: 14px;
	float: left;
}

.gens {
	top: -60px;
	width: 40px;
	height: 44px;
	right: 0px;
	line-height: 44px;
	font-size: 14px;
	position: absolute;
}

.zit {
	border: 1px solid rgb(197, 197, 197);
	border-image: none;
	width: 960px;
	height: 188px;
	margin-top: 15px;
}

.zitim {
	margin: 15px auto 0px;
	width: 940px;
	height: 117px;
}

.ks196 {
	width: 196px;
	height: auto;
	float: right;
}

.kstz {
	width: 100%;
	height: 41px;
	margin-bottom: 7px;
}

.kslis {
	width: 100%;
	height: auto;
}

.kslis li {
	height: 36px;
	line-height: 36px;
	text-indent: 54px;
	font-size: 14px;
	margin-top: 12px;
}

.li01 {
	background: url("../images/gx_001.png") no-repeat;
}

.li01:hover {
	background: url("../images/gx_93.png") no-repeat;
}

.li02 {
	background: url("../images/gx_95.png") no-repeat;
}

.li02:hover {
	background: url("../images/gx_002.png") no-repeat;
}

.li03 {
	background: url("../images/gx_101.png") no-repeat;
}

.li03:hover {
	background: url("../images/gx_003.png") no-repeat;
}

.li04 {
	background: url("../images/gx_114.png") no-repeat;
}

.li04:hover {
	background: url("../images/gx_004.png") no-repeat;
}

.li05 {
	background: url("../images/gx_116.png") no-repeat;
}

.li05:hover {
	background: url("../images/gx_005.png") no-repeat;
}

.li06 {
	background: url("../images/gx_118.png") no-repeat;
}

.li06:hover {
	background: url("../images/gx_006.png") no-repeat;
}

.li07 {
	background: url("../images/gx_120.png") no-repeat;
}

.li07:hover {
	background: url("../images/gx_007.png") no-repeat;
}

.li08 {
	background: url("../images/gx_124.png") no-repeat;
}

.li08:hover {
	background: url("../images/gx_008.png") no-repeat;
}

.li09 {
	background: url("../images/gx_129.png") no-repeat;
}

.li09:hover {
	background: url("../images/gx_009.png") no-repeat;
}

.li010 {
	background: url("../images/gx_116.png") no-repeat;
}

.li010:hover {
	background: url("../images/gx_005.png") no-repeat;
}

.youq {
	border: 1px solid rgb(197, 197, 197);
	border-image: none;
	width: 194px;
	height: 115px;
	margin-top: 15px;
}

.link35 {
	margin: 25px auto 0px;
	width: 170px;
	height: 30px;
}

.bott {
	background: rgb(206, 207, 208);
	margin: 0px auto;
	width: 1174px;
	height: 120px;
	padding-top: 15px;
	border-top-color: rgb(10, 65, 147);
	border-top-width: 3px;
	border-top-style: solid;
}

.bottlf {
	width: 780px;
	height: 107px;
	margin-left: 34px;
	float: left;
}

.bottlf_top {
	height: 35px;
	line-height: 35px;
}

.bottlf_top li {
	padding: 0px 5px;
	font-size: 14px;
	float: left;
}

.bottbq {
	width: 100%;
	height: auto;
}

.bottbq p {
	line-height: 30px;
	font-size: 14px;
}

.rrcc {
	width: 320px;
	height: 62px;
	margin-top: 40px;
	float: right;
}

.rrcc li {
	width: 75px;
	height: 62px;
	text-align: center;
	border-right-color: rgb(0, 0, 0);
	border-right-width: 1px;
	border-right-style: dotted;
	float: left;
}

.klis6 {
	width: 196px;
	height: auto;
	float: left;
}

.klis6rr {
	border: 1px solid rgb(197, 197, 197);
	border-image: none;
	width: 960px;
	height: auto;
	float: right;
}
.img9 {
	background: url("../images/20170707b.jpg");
}
.fany {
	height: 40px;
	text-align: center;
}

.kccrr {
	border: 1px solid rgb(197, 197, 197);
	border-image: none;
	width: 1172px;
	height: auto;
	float: right;
}

.kkcot {
	margin: 0px auto;
	width: 95%;
	height: auto;
}

.ddh3 {
	padding: 20px 0px;
	text-align: center;
	line-height: 40px;
	font-size: 26px;
	font-weight: normal;
}

.ddp {
	text-align: center;
	line-height: 35px;
	border-bottom-color: rgb(204, 204, 204);
	border-bottom-width: 1px;
	border-bottom-style: dashed;
}

.kkcotddc {
	padding: 20px 0px;
	height: auto;
	text-align: left;
	font-size: 16px;
}

.kkcotddc p {
	line-height: 30px;
	text-indent: 28px;
	padding-bottom: 15px;
}

.faj7 {
	height: 70px;
	padding-top: 20px;
	border-top-color: rgb(204, 204, 204);
	border-top-width: 1px;
	border-top-style: dashed;
}

.faj7 p {
	line-height: 30px;
}

.mdkkprr {
	line-height: 44px;
	padding-right: 20px;
	font-size: 14px;
	float: right;
	min-width: 50px;
}
.ewm-list {
	background: url("../images/ff_03.png") no-repeat right bottom;
	width: 321px;
	height: 78px;
	margin-top: 30px;
	margin-right: 15px;
	float: right;
}
.ewm-list div {
	width: 70px;
	height: 70px;
	float: right;
	position: relative;
}
.ewm-list div .ewm-img {
	left: -17px;
	width: auto;
	height: auto;
	bottom: 69px;
	display: none;
	position: absolute;
}
.ewm-list div .ewm-img img {
	width: 100px;
	height: 100px;
}

.ewm-list div a {
	width: 70px;
	height: 70px;
	display: block;
}
.KSS_titleBoxh h2 {
	height: 50px;
}
.imagechangenews_pnode {
	padding: 1px 7px; border-left-color: rgb(204, 204, 204); border-left-width: 1px; border-left-style: solid;
}
a.imagechangenews_pnode:link {
	color: rgb(255, 255, 255); line-height: 15px; font-size: 15px; text-decoration: none; background-color: rgb(102, 102, 102);
}
a.imagechangenews_pnode:visited {
	color: rgb(255, 255, 255); line-height: 15px; font-size: 15px; text-decoration: none; background-color: rgb(102, 102, 102);
}
a.imagechangenews_pnode:active {
	color: rgb(255, 255, 255); line-height: 15px;font-size: 15px; text-decoration: none; background-color: rgb(153, 153, 153);
}
a.imagechangenews_pnode:hover {
	color: rgb(255, 255, 255); line-height: 15px;font-size: 15px; text-decoration: none; background-color: rgb(153, 153, 153);
}
.imagechangenews_fnode {
	padding: 1px 7px; border-left-color: rgb(204, 204, 204); border-left-width: 1px; border-left-style: solid;
}
a.imagechangenews_fnode:link {
	color: rgb(255, 255, 255); line-height: 15px;font-size: 15px; text-decoration: none; background-color: rgb(255, 0, 0);
}
a.imagechangenews_fnode:visited {
	color: rgb(255, 255, 255); line-height: 15px; font-size: 15px; text-decoration: none; background-color: rgb(255, 0, 0);
}
a.imagechangenews_fnode:active {
	color: rgb(255, 255, 255); line-height: 15px; font-size: 15px; text-decoration: none; background-color: rgb(255, 0, 0);
}
a.imagechangenews_fnode:hover {
	color: rgb(255, 255, 255); line-height: 15px; font-size: 15px; text-decoration: none; background-color: rgb(255, 0, 0);
}
